body                { background: #999; }

#page-wrap::after   { content: "Wide Layout"; }
#page-wrap > .main  { border: 1px solid #999; padding: 1%; margin-bottom: 1px; color: black; }

nav                 { width: 100%; height: 80%; }
nav span            { margin: 0px 100px 0px 0px; }
section             { width: 100%; height:  80%; }
footer              { clear: both; display: block; }
