      <p>Respuesta: <%= respuesta %> </p>
      <% if(respuesta === 'Incorrecta') { %>
        <a href="/quizes/<%= quiz.id %>">Volver a intentar</a>
      <% } %>
      <p><a href="/quizes">Nueva pregunta</a>
